header{
    height: 60vh;
}

h1{
    color: white;
    margin-left: 20px;
    margin-top: 37vh;
    font-size: 40px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 500;
}
p{
    color:rgb(102,102,102);
    text-align: justify;
}
h2{
    text-align: left;
    font-size: 18px;
    margin: 0;
}
main h2{
    margin: 20px 0;
    font-size: 25px;
}
#about-details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3em;
    margin-top: 50px;
}
#about-details h3{
    color: rgb(255,192,0);
    margin-bottom: 20px;
}
.details-items div p{
    line-height: 1.5;
} 
.details-items div{
    display: flex;
    align-items: center;
}
.details-items div .fa{
    border: none;
    color: rgb(255,192,0);
    font-size: 50px;
    margin-right: 20px;
}
#purpose{
    margin: auto;
    margin-top: 20px;
}
#purpose div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto 20px auto;
    width: fit-content;
    padding: 30px 10px;
    border: 1px solid lightgrey;
}
#purpose div .fa{
    color: black;
    margin-bottom: 20px;
}
#our-team h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}


@media screen and (min-width: 900px){
    main{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 1em;
    }
    #purpose{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0;
    }
    #purpose h3{
        font-size: 17px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 500px){
    #about-details .fa{
        font-size: 20px;
        margin-right: 8px;
    }
    #about-details h3{
        font-size: 14px;
        
    }
    #about-details p{
        font-size: 12px;
        text-align: left;
        word-spacing: 0.5px;
    }
}